<div class="container">
  <h1 class="text-center mb-5 title"><%= "Public Dashboard for #{@user.username}" %></h1>
  <div class="public-dashboard-container">
    <% if @books %>
      <div id="public-total-books">
        <div>
          <h2 id="book-count"><%= @books.count %></h2>
          <p class="text-center"><small><%= "Books in #{@user.username} collection."%></small></p>
          <p class="text-center"><%= link_to 'View Collection', users_books_path(@user.id), class: 'btn btn-theme' %></p>
        </div>
      </div>
      <div id="public-popular-author">
        <h4>Most popular authors</h4>
        <% @most_popular_authors.each do |author, count| %>
          <li class="list-group-item"><%= "#{author} - #{count} book".pluralize(count) %></li>
        <% end %>
      </div>
      <div id="public-popular-genre">
        <h4>Most popular genres</h4>
        <% @most_popular_genres.each do |genre, count| %>
          <li class="list-group-item"><%= "#{genre} - #{count} book".pluralize(count) %></li>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
