<div class="container">
  <h1 class="title text-center">Your Books</h1>
  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th class="index-table" scope="col"></th>
        <th class="index-table" scope="col">Title</th>
        <th class="index-table" scope="col">Author</th>
        <th class="index-table" scope="col">Genre</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <th scope="row"><%= image_tag book.thumbnailUrl, class: 'book-thumb' %></th>
          <td>
            <h4 class="index-table table-text"><%= link_to book.title, book_path(book.id) %></h4>
            <p class="index-table table-text"><%= book.subtitle %></p>
          </td>
          <td class="index-table table-text"><%= book.author %></td>
          <td class="index-table table-text"><%= book.categories %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
