<div class="container">
  <div class="show-container">
    <div id="book-details">
      <div id="book-cover">
        <%= image_tag @book.thumbnailUrl, alt: "Cover for #{@book.title}" %>
      </div>
      <div id="book-info">
        <h1 class="title"><%= @book.title %></h1>
        <h4 class="title"><%= @book.subtitle %></h4>
        <p><%= link_to @book.author, author_path(@book.author), class: 'btn-link' %></p>
        <p><%= link_to @book.categories, categories_path(@book.categories), class: 'btn-link' %></p>
        <%#= form_tag(user_book_path(@user_book, method: 'patch', class: 'form-inline') do %>
          <%#= label_tag(:v, "") %>
          <%#= select_tag :v, options_for_select(true, false), class: 'form-control') %>
          <%#= submit_tag("Search", class: 'btn btn-sm btn-theme') %>
        <%# end %>
      </div>
    </div>
    <div id="book-description">
      <p><%= @book.description %></p>
    </div>
    <div id="author-books">
      <h5 class="title mt-4">Other books in your collection by <%= @book.author %></h5>
      <% @author_books.each do |book| %>
        <div><%= link_to book.title, book_path(book.id), class: 'btn-link' %></div>
      <% end %>
    </div>
  </div>
</div>
