<div class="container">
  <div class="show-container">
    <div id="book-details">
      <div id="book-info">
        <h1 class="title"><%= @book.title %><%= render "books/favourite_form" %></h1>
        <h4 class="title"><%= @book.subtitle %></h4>
        <p><%= link_to @book.author, author_path(@book.author), class: 'btn-link' %></p>
        <p><%= link_to @book.categories, categories_path(@book.categories), class: 'btn-link' %></p>
        <div class="show-buttons mb-4">
          <%= render "books/book_read_form" %>
          <%= link_to "Delete Book", user_book_path(@user_book.id), method: :delete, class: 'btn btn-theme ml-2', data: { confirm: "Are you sure?" } %>
        </div>
      </div>
      <div id="book-cover">
        <%= image_tag @book.thumbnailUrl, alt: "Cover for #{@book.title}" %>
      </div>
    </div>
    <div id="book-description">
    <h4 class="title">Description</h4>
      <p><%= @book.description %></p>
    </div>
    <div id="author-books">
      <% if @author_books.count > 1 %>    
        <h5 class="title mt-4">Other books in your collection by <%= @book.author %></h5>
        <% @author_books.each do |book| %>
          <% unless book.title == @book.title %>
            <div><%= render "shared/book_card", book: book %></div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
