<div id="login-page">
  <div id="log-in">
    <div id="form">
      <h2 class="text-center" id="login-title">Log in</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div id="inputs" class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "Log in", class: 'btn btn-theme' %>
        </div>
      <% end %>
      <div id="form-links">
        <%= render "devise/shared/links" %>
        <%= link_to 'Cancel', root_path, class: 'btn btn-sm btn-link' %>
      </div>
    </div>
  </div>
</div>
