<div class="container">
  <h1 class="title text-center"><%= @user.username %>'s books</h1>
  <div class="search">
  <div id="search-form">
    <%= form_tag(users_books_path, method: 'get') do %>
      <%= label_tag(:q, "") %>
      <%= text_field_tag(:q, nil, placeholder: 'Search for a book', class: 'form-control') %>
      <%= submit_tag("Search", class: 'btn btn-theme form-control') %>
    <% end %>
  </div>
</div>
<table class="table table-striped mt-5">
  <thead>
    <tr>
      <th class="index-table" scope="col"></th>
      <th class="index-table" scope="col">Title</th>
      <th class="index-table" scope="col">Author</th>
      <th class="index-table" scope="col">Genre</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <th scope="row"><%= image_tag book.thumbnailUrl, class: 'book-thumb' %></th>
        <td>
          <h4 class="index-table table-text"><%= link_to book.title, users_book_path(book.id), class: "btn-link" %></h4>
          <p class="index-table table-text"><%= book.subtitle %></p>
        </td>
        <td class="index-table table-text"><%= link_to book.author, author_path(book.author), class: "btn-link" %></td>
        <td class="index-table table-text"><%= link_to book.categories, categories_path(book.categories), class: "btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>